/* Ajoutez ces styles dans votre fichier CSS */

#creer-annonce {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
input[type="file"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.but {
    padding: 10px 20px;
    background-color: #00674b;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.annonce-details {
    
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff,5px 5px 10px #babebc ;
    position: absolute;
    overflow: hidden;
    width: 768px;
    min-height: 480px;
}

.annonce-details img {
    
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff,5px 5px 10px #babebc ;
    position: absolute;
    overflow: hidden;
    width: 768px;
    min-height: 480px;
    
}

